name: Test, lint, security audit and Docker security scan
on:
  push:
    branches-ignore:
      - main

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Test
        run: |
          cargo test

  lint:
    name: Run linter
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Lint
        run: |
          cargo clippy -- -D warnings && cargo fmt --check

  audit:
    name: Do security audit
    runs-on: ubuntu-24.04
    steps:
      - name: Run cargo audit fix
        uses: simonhyll/cargo-audit@v1

  scan:
    name: Scan Docker image
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: build local container
        uses: docker/build-push-action@v4
        with:
          tags: localbuild/rust-glpk-api:latest
          push: false
          load: true

      - name: Scan image
        uses: anchore/scan-action@v6
        with:
          image: "localbuild/rust-glpk-api:latest"
          output-format: table
          only-fixed: true
